[Unit]
Description=Run vncp-nginx-generator every 15 seconds

[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=vncp-nginx-generator.service

[Install]
WantedBy=timers.target
